<div class="login-container">
    <h2>Enter New Username and Password</h2>
   
    <form (ngSubmit)="create()">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="newEmail" name="name">
    
      <label for="password">Password:</label>
      <input id="password" [(ngModel)]="newPassword" name="password" type="password">
    
      <button class="login-button" type="submit">Create Account</button>
    </form>
    @if (showError == true){
      <p style="color:red">Error: {{errorMessage}}</p>
    }
  </div>
  

