body {
    font-family: Arial, sans-serif;
    background-color: #eee7db;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #f4d8b1;
    width: 100%;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 100px; 
    height: 100px; 
    margin-right: 0px; 
}

.site-name {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Spacing between list items */
}

ul li a {
    font-size: 25px;
    text-decoration: none;
    color: #000000; /* Example text color */
}
